[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=PeerTube
Name[ar]=بيير تيوب
Name[ca]=PeerTube
Name[ca@valencia]=PeerTube
Name[cs]=PeerTube
Name[de]=PeerTube
Name[en_GB]=PeerTube
Name[eo]=PeerTube
Name[es]=PeerTube
Name[eu]=PeerTube
Name[fi]=PeerTube
Name[fr]=PeerTube
Name[gl]=PeerTube
Name[hi]=पियरट्यूब
Name[hu]=PeerTube
Name[is]=PeerTube
Name[it]=PeerTube
Name[ka]=PeerTube
Name[ko]=PeerTube
Name[nl]=PeerTube
Name[nn]=PeerTube
Name[pl]=PeerTube
Name[pt]=PeerTube
Name[pt_BR]=PeerTube
Name[ro]=PeerTube
Name[ru]=PeerTube
Name[sk]=PeerTube
Name[sl]=PeerTube
Name[sv]=PeerTube
Name[tr]=PeerTube
Name[uk]=PeerTube
Name[vi]=PeerTube
Name[x-test]=xxPeerTubexx
Exec=mycroft-gui-app --hideTextInput --skill=peertube-skill.aiix.home
Icon=peertube-skill
Categories=VoiceApp
StartupNotify=false
