[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=PeerTube
Name[ca]=PeerTube
Name[cs]=PeerTube
Name[es]=PeerTube
Name[eu]=PeerTube
Name[fr]=PeerTube
Name[hi]=पियरट्यूब
Name[nl]=PeerTube
Name[sl]=PeerTube
Name[sv]=PeerTube
Name[uk]=PeerTube
Name[x-test]=xxPeerTubexx
Exec=mycroft-gui-app --hideTextInput --skill=peertube-skill.aiix.home
Icon=peertube-skill
Categories=VoiceApp
StartupNotify=false
